*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border: 0.5em solid black;
}

.flex {
    display: flex;
    justify-content: space-around;
    padding: 2em;
}

.container {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.frame {
    height: 50%;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    border: var(--border);
}
.advice {
    height: 25%;
    width: 50%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -20%);
    border: var(--border);
}

.pokeball {
    height: 30%;
    aspect-ratio: 1;
    background-image: url(../img/pokeball.png);
    background-repeat: no-repeat;
    background-size: contain;
}