*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --border: 0.5em solid black;
}

.flex {
    display: flex;
    justify-content: space-around;
    flex-direction: column-reverse;
    padding: 2em;
    flex-wrap: wrap;
    align-items: center;
}

.container {
    height: 100vh;
    width: 100vw;
    position: relative;
}

.frame {
    height: 50%;
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -65%);
    border: var(--border);

} 

img {
    aspect-ratio: 1;
    width: 20%;
    animation: bounce 1.2s linear infinite;
}

.sprite {
    height: 50%;
    width: 30%;
    opacity: 0%;
    border: var(--border);
}

.pk-1 {
    background-image: url(../img/bulbasaur.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pk-2 {
    background-image: url(../img/charmander.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pk-3 {
    background-image: url(../img/squirtle.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pokeball:hover {
    cursor: pointer;
    transform: rotate(-10deg);
    animation: none;

}

.pokeball:active + .sprite {
    opacity: 100%;
}

.advice {
    height: 25%;
    width: 50%;
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%, -20%);
    border: var(--border);
}

.pb-1 {
animation-delay: 0.5s;
}

.pb-3 {
    animation-delay: 1s;
}

@keyframes bounce {
    0% {
        transform: rotate(0deg);
    }
    10% {
        transform: rotate(-10deg);
    }
    40% {
        transform: rotate(10deg);
    }
    50% {
        transform: rotate(0deg);
    }

}